<% layout("/layouts/boilerplate")%>
<div class="row">
    <div class="col-8 offset-2">
        <br><br>
        <h3>Something went wrong</h3>
        <p class="text-danger"><%=message%></p>
        <a href="/listings" class="btn btn-dark">Go Back</a>
    </div>
</div>